.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 0;
  background: #F8F9FA;
}

.logo2 {
  width: 130px;
  height: 28px;
}

.copyright {
  color: #BABABA;
  font-size: 12px;
  line-height: 16px;
  margin-top: 16px;
}
